*.o
*.d
*.swp
lib*.a
lib*.so
lib*.so.*
*.ttf
*.ppm
examples/simple/simple
examples/unicode/unicode
examples/raster/raster
examples/nofreetype/nofreetype
*.txt
Debug*
Release*
.vs/
*.zip
*.exe
*.dll
*.glyphmap
usr/
Makefile
