name: MacOS X build

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3

    - name: install dependencies
      run: |
        brew install freetype

    - name: configure
      run: ./configure

    - name: build
      run: make

    - name: save lib
      uses: actions/upload-artifact@v3
      with:
        name: dtx-build
        path: |
          libdrawtext.dylib
          libdrawtext.a

  build-noft:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3

    - name: configure
      run: ./configure --disable-freetype

    - name: build
      run: make

    - name: save lib
      uses: actions/upload-artifact@v3
      with:
        name: dtx-noft-build
        path: |
          libdrawtext-noft.dylib
          libdrawtext-noft.a

  font2glyphmap:
    runs-on: macos-latest
    needs: build
    steps:
    - uses: actions/checkout@v3

    - name: install dependencies
      run: |
        brew install freetype

    - name: get build
      uses: actions/download-artifact@v3
      with:
        name: dtx-build

    - name: build
      run: |
        cd tools/font2glyphmap
        make

    - name: save font2glyphmap
      uses: actions/upload-artifact@v3
      with:
        name: font2glyphmap
        path: |
          tools/font2glyphmap/font2glyphmap

  example-simple:
    runs-on: macos-latest
    needs: build
    steps:
    - uses: actions/checkout@v3

    - name: install dependencies
      run: |
        brew install freetype

    - name: download font
      run: |
        mkdir -p examples/fonts
        cd examples/fonts
        wget http://downloads.sourceforge.net/project/linuxlibertine/linuxlibertine/5.1.3-2/LinLibertineTTF_5.1.3_2011_06_21.tgz
        tar zvx LinLibertine_R.ttf -f LinLibertineTTF_5.1.3_2011_06_21.tgz
        mv LinLibertine_R.ttf linux-libertine.ttf

    - name: get build
      uses: actions/download-artifact@v3
      with:
        name: dtx-build

    - name: build
      run: |
        cd examples/simple
        make

    - name: save simple example
      uses: actions/upload-artifact@v3
      with:
        name: example-simple
        path: |
          examples/simple/simple
          examples/simple/serif.ttf

  example-nofreetype:
    runs-on: macos-latest
    needs: build-noft
    steps:
    - uses: actions/checkout@v3

    - name: get nofreetype build
      uses: actions/download-artifact@v3
      with:
        name: dtx-noft-build

    - name: build
      run: |
        cd examples/nofreetype
        make
        
    - name: save nofreetype example
      uses: actions/upload-artifact@v3
      with:
        name: example-noft
        path: |
          examples/nofreetype/simple-noft
          examples/nofreetype/serif_s24.glyphmap

  package:
    runs-on: macos-latest
    needs: [build, build-noft, font2glyphmap, example-simple, example-nofreetype]

    steps:
    - uses: actions/checkout@v3

    - name: get build
      uses: actions/download-artifact@v3
      with:
        name: dtx-build

    - name: get nofreetype build
      uses: actions/download-artifact@v3
      with:
        name: dtx-noft-build

    - name: get font2glyphmap
      uses: actions/download-artifact@v3
      with:
        name: font2glyphmap

    - name: get simple example
      uses: actions/download-artifact@v3
      with:
        name: example-simple

    - name: get simple example
      uses: actions/download-artifact@v3
      with:
        name: example-noft

    - name: stage
      run: |
        mkdir -p libdrawtext-macosx/examples/simple
        mkdir -p libdrawtext-macosx/examples/nofreetype
        mkdir -p libdrawtext-macosx/tools/font2glyphmap
        cp README.md COPYING* libdrawtext-macosx
        cp src/drawtext.h libdrawtext-macosx
        cp libdrawtext*.dylib libdrawtext-macosx
        cp libdrawtext*.a libdrawtext-macosx
        cp font2glyphmap tools/font2glyphmap
        cp simple libdrawtext-macosx/examples/simple
        cp serif.ttf libdrawtext-macosx/examples/simple
        cp simple-noft libdrawtext-macosx/examples/nofreetype
        cp serif_s24.glyphmap libdrawtext-macosx/examples/nofreetype

    - name: archive
      uses: actions/upload-artifact@v3
      with:
        name: libdrawtext-macosx
        path: libdrawtext-macosx

# vi:ts=2 sts=2 sw=2 expandtab:
